    <div>
      <h3 class="text-center mb-5 fs-1">Create a New Recipe</h3>
    <form class="form new-recipe-form">
    <div class="mb-3 mx-auto col-sm-8 text-center form-group">
        <label for="recipe-title" class="form-label fs-3">Title</label>
        <input type="text" class="form-control" id="recipe-title" placeholder="Input Title here">
      </div>
      <div class="mb-3 mx-auto col-sm-8 text-center form-group">
        <label for="recipe-ingredients" class="form-label fs-3">Ingredients</label>
        <input type="text" class="form-control" id="recipe-ingredients" placeholder="Input Ingredients here">
      </div>
      <div class="mb-3 mx-auto col-sm-8 text-center form-group">
        <label for="recipe-instructions" class="form-label fs-3">Instructions</label>
        <input type="text" class="form-control" id="recipe-instructions" placeholder="Input Instructions here">
      </div>
      <div class="form-group mx-auto col-sm-1 pt-5 form-group">
        <button type="submit" class="btn btn-warning">Create</button>
      </div>
      </form>
      </div>
